
/*
   COSY Style Sheet
   Author: Joey Kok Yen Ni
   
   Filename: co_addtocart.css

*/

/*---------Cart page--------------*/

.products-container{
    width:100%;
    max-width:650px;
    margin:0px auto;
    margin-top: 50px;
}

.product-header{
    width:100%;
    max-width:650px;
    border-bottom: 4px solid lightgrey;
}

.product-title,.product{
    width:300px;
    padding-right:10%;
    border-bottom:1px solid lightgrey;
}

.product {
    align-items: center;
    padding: 10px 0;
    border-bottom:1px solid lightgrey;
}

.product img,.product span{
  float: left;
  display:block;
}

.price{
    width:15%;
    border-bottom:1px solid lightgrey;
    padding-left:10%;
    padding-right:10%;
    align-items: center;
}

.quantity{
  vertical-align: middle;
    width:25%;
    border-bottom:1px solid lightgrey;
    padding-left:5%;
    align-items: center;
    
}
.total{
    width:15%;
    border-bottom:1px solid lightgrey;
    padding-right:5%;
    align-items: center;

}


/*----Icon style----*/

.quantity ion-icon, .product ion-icon{
    vertical-align: middle;
    font-size:25px;
    color:darkslategrey;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}

.product ion-icon{
    display: block;
    float: left;
}

/*--------Basket Total ------------*/

.basketTotalContainer{
  background-image:url(marble.jpg);
  background-attachment: fixed;
  text-align: left;
  padding-left:100%;
  padding-right: 55%;
  width:100%;
   
}
.basketTotalTitle{
    width:100%;

}
.basketTotal{
    width:100%;

}

/*--Payment ---*/

.payment h2 a:link,.payment h2 a:visited{
    color:rgb(44, 40, 40);
    text-decoration:none;
    background-image: url(homepgheader2.jpg);
    border:4px solid rgb(158, 154, 143);
    padding:10px;
}

.payment h2 a:hover{
    color:rgb(163, 148, 148);
}


