/*
   COSY Style Sheet
   Author: Joey Kok Yen Ni
   
   Filename: co_kidsmore.css

*/

footer{
    clear:both;
}
body section{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
    line-height: 2;
    display:block;
    padding:5%;
    text-align: center;
    background-image: url(marble.jpg);
    background-attachment: fixed;
    font-size: 16pt;
    clear:both;
    margin-top:5%;
}
section img{
    width:90%;
    display:block;
    margin:5%;
}
.content{
    line-height: 1.5;
    padding:5%;
    background-color:rgb(250, 241, 204);
}

.coat{
    width:60%;
    background-color: white;
    float:left;
}
.coath2{
    width:30%;
    margin-top:15%;
    height:200px;
    padding-top:5%;
    padding-left:5%;
    background-color: rgb(255, 238, 184);
    float:left;
    display: block;
    color:black;
}
.coath2 span{
  display:block;
  margin-top:10%;
}
.button{
    border:1px solid rgba(0, 0, 0, 0.295);
    margin-top:8%;
    width: 150px;
    height:50px;
}
.button a{
 font-variant: small-caps;
 font-size:13pt;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color:black;
 text-decoration: none;
}
.button a:hover{
    color:gray;
}

article{
    padding-top:18%;
}

/*Sub-Title Animation*/
.wrapper{
    border:5px solid rgba(0, 0, 0, 0.233);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    position: absolute;
    width: 90%;
    height: 90px;
    overflow: hidden;
    background: linear-gradient(90deg, #ade6de 0%,rgb(221, 196, 236)45%,rgb(247, 214, 252)100%)
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgb(101,101,101);
    border-radius: 50%;
}

.box div:nth-child(1){
    top:12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top:70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top:17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top:20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top:67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top:60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top:32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top:80%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10){
    top:20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
0%{
 transform: scale(0) translateY(0) rotate(0);
 opacity: 1;
}
100%{
 transform: scale(1.3) translateY(-90px) rotate(360deg);
 opacity: 0;
}
}
