/*
New Perspectives on HTML5 and CSS3, 7th Edition
Web Design and Development Assignment


Author: Diong Zi Yu
Date: 28/7/2020  
css
Filename: co_myaccount.css
*/

@charset "utf-8";
@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 1.woff') format('woff');
    }

h1 {
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
    font-family: 'Bahnschrift Regular';
    transition: font-size 1s;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.9, 0.5);
}
h1:hover{font-size: 30pt;}

fieldset{
    margin:0px 30px 30px;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px 10px grey;
    background-color: rgb(239, 243, 246);
}
.button {
  position: relative;
  left: 790px;
  bottom: 53px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: rgb(30,49,46);
  color: white;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.button:hover {
    background-color: ivory;
    color: black;
  }

  .button:active {
    background-color: khaki;
    color: black;
  }

td { padding: 0px 100px 0px 20px; }

.Avatar {
 margin-top: 40px;
 margin-left: 50px;
}

div.table {
  display: block;
  float: right;
  margin-top: -145px;
  margin-left: 250px;
  font-family: 'Bahnschrift Regular'
}
p.p{ 
 display: block;
 float: left;
 margin-left: 10px;
 border: 2px dotted black; 
 width: 13%;
 padding: 10px;
 text-align: center;
 transition: background-color .5s,
             font-size 1s ease-in,
             text-shadow 4s cubic-bezier(0.6, 0, 0.8, 0.5);
}

p.p:hover {
    cursor: pointer;
    background-color: lightcyan;
    font-size: 18px;
}

p.p1 {
  height: 27px;
  padding-top: 20px;
}

table.history, tr.history, td.history, th.history {
 border: 2px solid black;
 border-collapse: collapse;
 padding: 10px;
}

table.history{
 width: 100%;
}

@media only screen and (max-width: 797px){
  .button {
    left: 650px;
    transition: .1s;
  }

  div.table {
    margin-left: 220px;
  }

  p.p1 {
    height: 37px;
    padding-top: 10px;
  }
}